body {
  margin: 0 !important;
}
.link {
  text-decoration: none !important;
  color: #000 !important;
}

.bannerCredit1 {
  background-image: url("../../public/images/icons/cloudsbackground.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerCredit2 {
  background-image: url("../../public/images/backgroundImages/cloudsYellow.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerCredit3 {
  background-image: url("../../public/images/backgroundImages/clouds2.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.creditSlider_carousel .slide img {
  width: 350px !important;
  z-index: 999;
}

.css-1aquho2-MuiTabs-indicator {
  height: 0 !important;
}

.cloudTransparent {
  background-image: url("../../public/images/backgroundImages/cloudTransparent.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
